.faq-section-4 {
    .section-title-area {
        .theme-btn {
            background-color: transparent;
            border: 1px solid $theme-color-3;
            color: $theme-color-3;

            i {
                background-color: $theme-color-3;
                color: $white;
            }
        }
    }
}

.faq-left-items-style-4 {
    margin-top: 30px;
    ul {
        li {
            display: flex;
            gap: 20px;

            h5 {
                margin-bottom: 7px;
            }

            p {
                a {
                    color: #4B545B;


                }
            }


            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }
}

.faq-right-items-style-4 {
    
    .accordion-item {
        border: 0;
        background-color: $white;
        
        .accordion-header { 

            .accordion-button { 
                font-weight: 600;
                color: $white;
                border: 0;
                border-radius: 12px 12px 0px 0px;
                box-shadow: none;
                background-color: $theme-color-3;
                padding: 18px 15px 18px 25px;
                text-transform: capitalize;
                font-size: 22px;

                @include breakpoint (max-xl) {
                    font-size: 18px;
                }

                &::after {
                    content: "\f067";
                    background: transparent;
                    font-family: $fa;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out !important;
                    color: $header-color;
                    width: 39px;
                    height: 39px;
                    line-height: 39px;
                    text-align: center;
                    background-color: #EBEBEB;
                    border-radius: 100px;
                }
                &:not(.collapsed)::after {
                    content: "\f068";
                    background: transparent;
                    font-family: $fa;
                    font-weight: 500;
                    transform: rotate(0);
                    color: #000000;
                    width: 39px;
                    height: 39px;
                    line-height: 39px;
                    text-align: center;
                    background-color: #EBFA9E;
                }

                &.collapsed {
                    border-radius: 12px;
                    background: transparent;
                    border: 1px solid rgba(25, 42, 25, 0.14);
                    padding: 16px 15px 16px 25px;
                    color: $header-color;
                }

                &.color-2 {
                    background-color: $theme-color-2;
                    color: $white;

                    &:not(.collapsed)::after {
                    content: "\f068";
                    background: transparent;
                    font-family: $fa;
                    font-weight: 500;
                    transform: rotate(0);
                    color: #000000;
                    width: 39px;
                    height: 39px;
                    line-height: 39px;
                    text-align: center;
                    background-color: #EBFA9E;
                    }

                    &.collapsed {
                        border-radius: 12px;
                        background: transparent;
                        border: 1px solid rgba(25, 42, 25, 0.14);
                        padding: 16px 15px 16px 25px;
                        color: $header-color;
                    }
                }
            }
        }

        .accordion-collapse { 

            .accordion-body {
                padding-left: 30px;
                padding-top: 15px;
                color: $header-color;
                background-color: transparent;
                border: 1px solid #D9D9D9;

                @include breakpoint (max-xxl){
                    padding-right: 50px;
                }
            }
        }
    }

    &.style-2 {
       .accordion-item {
        border: 0;
        background-color: $white;
        box-shadow: 0 10px 40px 0 rgba(29, 31, 21, 0.10);
        border-radius: 30px;
        margin-bottom: 24px;
        
        .accordion-header { 

            .accordion-button { 
                font-weight: 600;
                color: $header-color;
                border-radius: 15px 15px 0px 0px;
                box-shadow: none;
                border: none;
                background-color: $white;
                padding: 16px 15px 16px 25px;
                font-size: 22px;

                @include breakpoint (max-xl) {
                    font-size: 18px;
                }

                &::after {
                    content: "\f067";
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 16px;
                    background-color: transparent;
                    border: 1px solid rgba(29, 29, 29, 0.10);
                }
                &:not(.collapsed)::after {
                    content: "\f068";
                   background-color: $theme-color-4;
                   color: $white;
                }

                &.collapsed {
                    border-radius: 30px;
                    color: $header-color;
                }
            }
        }

        .accordion-collapse { 

            .accordion-body {
                margin-top: -10px;
                position: relative;
                z-index: 9;
                padding-top: 0;
                color: #626262;
                background-color: $white;
                border: none;

                @include breakpoint (max-xxl){
                    padding-right: 50px;
                }
            }
        }
    } 
    }
}

.faq-left-image-style-6 {
    position: relative;
    z-index: 9;
    max-width: 585px;

    @include breakpoint (max-xl){
        max-width: initial;
    }

    img {
        @include imgw;
        border-radius: 20px;
    }
    .white-shape {
        position: absolute;
        z-index: 1;
        bottom: -1%;
        right: -1%;
    }

    .faq-contact {
        background-color: $theme-color-4;
        border-radius: 20px;
        padding: 20px 20px;
        display: inline-block;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 1%;

        h3 {
            font-family: $heading-font-2;
            font-size: 24px;
            font-weight: 600;
            max-width: 166px;
            color: $white;
        }

        .icon {
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: #111;
            border-radius: 50%;
            color: $white;
        }

        p {
            font-size: 18px;
            font-weight: 700;
            margin-top: 10px;

            a {
                color: $white;
            }
        }
    }
}

.faq-section-444 {
    .section-title-area {
        .theme-btn {
            background-color: transparent;
            border: 1px solid $theme-color-2;
            color: $theme-color-2;

            i {
                background-color: $theme-color-2;
                color: $white;
            }

            &:hover {
                color: $white;
            }
        }
    }
}