.video-wrapper {
    text-align: center;
    position: relative;

     @include breakpoint (max-xl){
        height: 600px;

        img {
            object-fit: cover;
        }
    }

    .video {
        text-align: center;

        .video-btn {
            width: 122px;
            height: 122px;
            line-height: 122px;
            text-align: center;
            border-radius: 122px;
            background-color: $theme-color;
            color: $header-color;
            display: inline-block;
            font-size: 40px;

            @include breakpoint (max-sm){
                font-size: 18px;
                width: 80px;
                height: 80px;
                line-height: 80px;
            }
        }
    }
}

.video-section {
    border-radius: 20px;
    margin: 0 15px;

     &.style-2 {
        margin: 0;
         border-radius: 0 !important;

        img {
             border-radius: 0 !important;
        }

        .video-btn {
            font-size: 25px;
            background-color: $theme-color-3;
            color: $white;
        }
    }
}

.choose-image-style-1 {
    position: relative;
    z-index: 9;
    max-width: 549px;
    border-radius: 12px;


    img {
        @include imgw;
    }

    .circle-box {
        width: 140px;
        height: 140px;
        line-height: 140px;
        background-color: $theme-color-2;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: 98px;
        right: 0;


        .text-image {
            img {
                width: initial;
                height: initial;
                animation: cir36 10s 
                linear infinite;
            }
        }

        .arrow-icon {
            color: $white;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);

            i {
                transform: rotate(-45deg);
                @include transition;
            }
        }
    }
}

.choose-content-style-1 {

    .section-title {
        h2 {
            font-size: 40px;

            @include breakpoint(max-lg){
                font-size: 38px;
            }

            @include breakpoint(max-md){
                font-size: 35px;
            }

            @include breakpoint(max-sm){
                font-size: 30px;
            }

            @include breakpoint(max-xxs){
                font-size: 25px;
            }
        }
    }

    .nav {
        @include flex;
        gap: 100px;
        border-bottom: 1px solid rgba(0, 93, 181, 0.08);
        padding-bottom: 20px;
        padding-left: 30px;
        margin-top: 50px;

        @include breakpoint (max-xl){
            gap: 30px;
            padding-left: 0;
            margin-top: 30px;
        }

        .nav-item {
            .nav-link {
                color: $header-color;
                font-family:$heading-font;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: -0.6px;
                padding: 0;
                position: relative;

                &.active {
                    color: $theme-color-2;

                    &::before {
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        content: "";
                        height: 2px;
                        width: 100%;
                        background-color: $theme-color-2;

                        @include breakpoint (max-xl){
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .choose-text {
        margin-top: 25px;
    }

    .icon-box-items {
        @include flex;
        gap: 20px;
        margin-top: 30px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
        }

        .icon {
            img {
                @include transition;
                display: inline-block;
            }
        }

        .content {
            h4 {
                font-size: 20px;
                font-weight: 600;
            }

            p {
                margin-top: 5px;
            }
        }
    }

    .list-items {
        @include flex;
        gap: 80px;
        margin-top: 30px;

         @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 30px;
        }

        ul {
            li {
                font-size: 18px;
                font-weight: 500;

                &:not(:last-child) {
						margin-bottom: 20px;
					}

                img {
                    margin-right: 10px;
                }
            }
        }
    }

    .bottom-items {
        @include flex;
        gap: 40px;
        margin-top: 40px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 30px;
            margin-top: 30px;
        }

        .phone-box-items {
            @include flex;
            gap: 20px;

            .icon {
                font-size: 50px;
                color: $theme-color-2;
            }

            .content {
                p {
                    font-weight: 600;
                    color: #454E59;
                }

                a {
                    color: $text-color;
                }
            }
        }
    }

    &:hover {
        .icon-box-items {
            .icon {
                img {
                    transform: scaleX(-1) !important;
                }
            }
        }
    }
}

.offer-section {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        background: rgba(0, 93, 181, 0.89);
        z-index: -1;
    }

    &::after {
        @include before;
        background: $white;
        top: 74%;
        z-index: -1;
    }

    .offer-shape-1 {
        position: absolute;
        top: 34%;
        right: 24%;

         @include breakpoint (max-xl){
            display: none;
        }
    }

    .circle-box {
        width: 156px;
        height: 156px;
        line-height: 156px;
        background-color: $theme-color;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: 35%;
        left: 45%;

        @include breakpoint (max-xl){
            display: none;
        }


        .text-image {
            img {
                width: initial;
                height: initial;
                animation: cir36 10s 
                linear infinite;
            }
        }

        .arrow-icon {
            color: $header-color;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);

            i {
                transform: rotate(-45deg);
                @include transition;
            }
        }
    }

    .house-image {
        max-width: 1294px;
        margin: 100px auto -160px;

        @include breakpoint (max-xxxl){
            margin-bottom: -200px;
        }

         @include breakpoint (max-xl){
            margin-bottom: 90px;
            margin-top: 0;

            img {
                display: none
            }
        }


        img {
            @include imgw;
        }
    }

    .offer-box-items {
        border-radius: 12px;
        background: $white;
        box-shadow: 0 0 111.6px 16px rgba(14, 5, 50, 0.07);
        padding: 5px;
        @include flex;
        justify-content: space-between;

        @include breakpoint (max-xl){
            display: block;
        }

        .offer-content {
            padding: 24px;

            span {
                border-radius: 4px;
                background: rgba(0, 93, 181, 0.10);
                color: $theme-color-2;
                padding: 10px 15px;
                display: inline-block;
                line-height: 1;
                margin-bottom: 6px;
            }

            h3 {
                margin-bottom: 6px;
            }

            .theme-btn {
                margin-top: 20px;
                line-height: 1;
            }
        }

        .offer-image {
             @include breakpoint (max-xl){
                margin-top: 20px;
            }

            img {
                @include imgw;
                border-radius: 10px;
            }
        }
    }
}

.counter-feature2 {
    margin-top: 85px;

    @include breakpoint (max-xl){
        margin-top: 65px;
    }

    @include breakpoint (max-lg){
        margin-top: 45px;
    }
}

.feature-box-items-2 {
    h2 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(25, 42, 25, 0.20);
        font-size: 155px;
        font-weight: 800;
        color: transparent;
        line-height: 1;
    }

    .content {
        margin-top: -50px;

        h4 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
            margin-left: 56px;
        }

        p {
            max-width: 230px;
            text-transform: lowercase;
        }
    }
}

.feature-section-3 {
    background-color: $theme-color-3;
    position: relative;
    z-index: 9;

    .feature-shape-1 {
        position: absolute;
        bottom: 35px;
        z-index: -1;
    }

    .feature-shape-2 {
        position: absolute;
        top: 45px;
        right: 60px;
        z-index: -1;
    }
}

.feature-icon-items-3 {
    @include breakpoint (max-sm){
        text-align: center;
    }
    .icon {
        img {
            @include transition;
            display: inline-block;
        }
    }

    br {
        display: block;
    }

    p {
        font-size: 20px;
        font-weight: 600;
        color: $white;
        margin-top: 20px;
        max-width: 180px;

          @include breakpoint (max-sm){
            margin: 20px auto 0;
        }
    }

    &:hover {
        .icon {
            img {
                transform: scaleX(-1) !important;
            }
        }
    }
}

.choose-us-left-items-style-3 {
    .choose-image {
        margin-top: 30px;
        border-radius: 20px;

        img {
            @include imgw;
            border-radius: 20px;
        }
    }
}

.choose-us-right-items-style-3 {
    margin-left: 60px;
    position: relative;
    z-index: 99;

    @include breakpoint (max-xl){
        margin-left: 0;
    }

    .choose-counter-items {
        h2 {
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $theme-color-3;
            font-size: 200px;
            font-weight: 800;
            line-height: 119px;
            letter-spacing: -10px;
            text-transform: uppercase;
            color: transparent;
            line-height: 1;

            @include breakpoint (max-xxxl){
                font-size: 150px;
            }

            @include breakpoint (max-md){
                font-size: 140px;
            }

             @include breakpoint (max-sm){
                font-size: 100px;
            }
        }

        p {
            font-size: 28px;
            font-weight: 600;
            color: $header-color;
        }
    }

    p {
        margin-top: 20px;
        
    }

    .choose-us-content {
        margin-top: 30px;

        .progress-wrap {
            .pro-items {
                width: 100%;
    
                &:not(:last-child){
                    margin-bottom: 30px;
                }
                .pro-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
    
                    .title {
                        color: $header-color;
                    }
                    
                    .point {
                        font-size: 16px;
                        color: $header-color;
                    }
                }
                .progress {
                    background: rgba(65, 197, 117, 0.12);
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    display: flex;
                    height: 6px;
                    width: 100%;
                }
                
                .progress-value {
                    animation: load 3s normal forwards;
                    border-radius: 0;
                    background: $theme-color-3;
                    height: 6px;
                    width: 0;
                }
                .style-two{
                    animation: load2 3s normal forwards;
                }
                .style-three{
                    animation: load3 3s normal forwards;
                }
                @keyframes load {
                    0% { width: 0; }
                    100% { width: 69%; }
                }
                @keyframes load2 {
                    0% { width: 0; }
                    100% { width: 80%; }
                }
                @keyframes load3 {
                    0% { width: 0; }
                    100% { width: 98%; }
                }
            }
        }
    }

    .theme-btn {
        margin-top: 40px;
        background-color: $theme-color-3;
        color: $white;

        i {
            background-color: $white;
            color: $theme-color-3;
        }
    }
}

.video-wrapper {
    text-align: center;
    position: relative;

    img {
        @include imgw;
        border-radius: 20px;
    }

     .video-btn {
        width: 120px;
        height: 120px;
        line-height: 120px;
        display: inline-block;
        background: $theme-color-3;
        color: $white;
        text-align: center;
        border-radius: 100%;
        font-size: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

		@include breakpoint (max-lg) {
			width: 120px;
			height: 120px;
			line-height: 120px;
		}
    }
}

.counter-section-3  {
    margin-top: -30px;
}

.counter-items-3 {
    text-align: center;
    h2 {
        font-size: 88px;
        font-weight: 700;
        color: $theme-color-3;

        @include breakpoint (max-md){
            font-size: 50px;
        }
    }
}

.power-feature-left-items-style-3 {
    .power-feature-btn {
        .theme-btn {
            margin-top: 40px;
            background-color: $theme-color-3;
            color: $white;

            i {
                background-color: $white;
                color: $theme-color-3;
            }
        }
    }
}

.power-feature-right-items-style-3 {
    .power-text {
        border-bottom: 1px solid #DADADA;
        padding-bottom: 25px;
    }

    .counter-area {
        margin-top: 30px;
        @include flex;
        gap: 30px;

        img {
            border-radius: 10px;
        }
    }
}

.power-feature-card-style-3 {
    .icon {
        img {
            @include transition;
            display: inline-block;
        }
    }

    .content {
        margin-top: 40px;
        h4 {
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 15px;
        }

        p {
            max-width: 271px;
        }

        .link-btn {
            color: $theme-color-3;
            margin-top: 25px;
            display: inline-block;
            @include transition;
            font-weight: 800;
            font-size: 16px;

            i {
                margin-left: 7px;
            }

            &:hover {
                color: $header-color;
            }
        }
    }

    &:hover {
        .icon {
            img {
                transform: scaleX(-1) !important;
            }
        }
    }
}

.power-feature-card-section-3 {
    position: relative;
    z-index: 9;

    .power-shape-1 {
        position: absolute;
        bottom: 53%;
        left: 40px;
        z-index: -1;

        @include breakpoint (max-xxxl){
            display: none !important;
        }
    }
}

.work-prosec-card-style-3 {
    text-align: center;
    margin-top: 30px;

    @include breakpoint (max-md){
        max-width: 400px;
        margin: 30px auto 0;
        text-align: center;
    }

    .icon {
        width: 132px;
        height: 132px;
        line-height: 132px;
        text-align: center;
        background-color: $theme-color-3;
        border-radius: 50%;
        margin: 0 auto;
        @include transition;

        img {
            @include transition;
            display: inline-block;
        }
        
    }

    .content {
        margin-top: 25px;

        h3 {
            margin-bottom: 10px;
        }
    }

    &.style-2 {
        margin-top: 120px;

        @include breakpoint (max-lg){
            margin-top: 30px;
        }
    }

    &:hover {
        .icon {
            img {
                transform: scaleX(-1) !important;
            }

            &.color-2 {
                background-color: #EBFA9E;

                img {
                    filter: brightness(40%) contrast(120%);
                }
            }
        }
    }
}

.work-prosec-section-3 {
    position: relative;
    z-index: 9;

    .work-right-shape {
        position: absolute;
        top: -13%;
        right: 10px;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .work-left-shape {
        position: absolute;
        top: -28%;
        left: 6%;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .work-shape-1 {
        position: absolute;
        top: 45%;
        left: 37%;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .work-shape-2 {
        position: absolute;
        top: 45%;
        left: 58%;

        @include breakpoint (max-xxl){
            display: none;
        }
    }
}


.choose-us-left-items-style-4 {

    @include breakpoint (max-lg){
        margin-top: -15px;
    }
    
    .counter-itemss-4 {
        @include flex;
        gap: 30px;
        margin-bottom: 40px;

        h2 {
            font-size: 140px;
            font-weight: 600;
            color: $theme-color-3;
            line-height: 1;

            @include breakpoint (max-xl){
                font-size: 100px;
            }

            @include breakpoint (max-sm){
                font-size: 90px;
            }
        }

        p {
            font-size: 28px;
            font-weight: 600;
            color: $header-color;
            max-width: 151px;

            @include breakpoint (max-sm){
                font-size: 20px;
                line-height: 1.3;
            }
        }
    }

    .thumb {
        height: 400px;
        border-radius: 12px;

        img {
            @include imgw;
            border-radius: 12px;
            object-fit: cover;
        }
    }
}

.choose-us-right-items-style-4 {
    margin-left: 50px;

    @include breakpoint (max-xl){
        margin-left: 0;
    }

    .choose-text {
        margin-top: 25px;
    }

    .list-items-area {
        @include flex;
        margin-top: 30px;
        gap: 100px;

         @include breakpoint (max-xxl){
            flex-wrap: wrap;
            gap: 30px;
        }

        .list-items {
            border-right: 1px solid #D9D9D9;
            padding-right: 100px;

            @include breakpoint (max-xxl){
                border-right: none;
                padding-right: 0;
            }

            li {
                font-size: 18px;
                font-weight: 500;
                color: #6B6B6B;

                img {
                    margin-right: 7px;
                }

                &:not(:last-child) {
					margin-bottom: 10px;
				}
            }
        }

        .circle-box {
            width: 150px;
            height: 150px;
            line-height: 150px;
            border-radius: 50%;
            text-align: center;
            position: relative;

            .text-image {
                img {
                    width: initial;
                    height: initial;
                    animation: cir36 10s 
                    linear infinite;
                }
            }

            .arrow-icon {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% ,-50%);

                i {
                    transform: rotate(-45deg);
                    @include transition;
                    background-color: $theme-color-3;
                    color: $white;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 44px;
                }
            }
        }
    }

    .theme-btn {
        margin-top: 40px;
        background-color: $theme-color-3;
        color: $white;

        @include breakpoint (max-md){
            margin-top: 22px;
        }

        i {
            background-color: $white;
            color: $theme-color-3;
        }
    }
}

.counter-items-4 {
    position: relative;
    z-index: 9;

    h2 {
        font-size: 76px;
        font-weight: 700;
        color: $header-color;
        line-height: 1;

        @include breakpoint (max-md){
            font-size: 60px;
        }

        @include breakpoint (max-sm){
            font-size: 50px;
        }
    }

    .counter-2 {
        position: absolute;
        z-index: -1;
        color: rgba(65, 197, 117, 0.15);
        font-size: 120px;
        font-weight: 600;
        top: -23%;
        right: 7px;

    }
}

.work-prosec-section-4 {
    position: relative;
    z-index: 9;

    .work-right-shape {
        position: absolute;
        top: 10%;
        right: 5%;
    }

    .work-left-shape {
        position: absolute;
        top: 18%;
        left: 6%;
        
    }

    .work-shape-1 {
        position: absolute;
        top: 45%;
        left: 37%;

         @include breakpoint (max-xxxl){
            position: absolute;
            top: 50%;
            left: 32%;
        }
    }

    .work-shape-2 {
        position: absolute;
        top: 45%;
        left: 58%;

        @include breakpoint (max-xxxl){
            position: absolute;
            top: 45%;
            left: 62%;
        }
    }
}

.choose-power-content-items-style-4 {
    .choose-text {
        margin-top: 25px;
    }

    .icon-box-area {
        @include flex;
        gap: 25px;
        margin-top: 40px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 20px;
        }

        @include breakpoint (max-md){
            margin-top: 25px;
        }

        .icon-box-items {
            display: flex;
            gap: 20px;

            .icon {
                max-width: 75px;
                width: 100%;
                height: 75px;
                line-height: 70px;
                text-align: center;
                border-radius: 50%;
                background: rgba(65, 197, 117, 0.20);
                position: relative;
                z-index: 9;
                

                &::before {
                    width: 60px;
                    height: 60px;
                    content: "";
                    background-color: $theme-color-3;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate( -50%,-50%);
                    z-index: -1;
                }

            }

            .content {
                h4 {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 7px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

     .choose-us-content {
        margin-top: 30px;

        .progress-wrap {
            .pro-items {
                width: 100%;
    
                &:not(:last-child){
                    margin-bottom: 30px;
                }
                .pro-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
    
                    .title {
                        color: $header-color;
                    }
                    
                    .point {
                        font-size: 16px;
                        color: $header-color;
                    }
                }
                .progress {
                    background: rgba(65, 197, 117, 0.12);
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    display: flex;
                    height: 6px;
                    width: 100%;
                }
                
                .progress-value {
                    animation: load 3s normal forwards;
                    border-radius: 0;
                    background: $theme-color-3;
                    height: 6px;
                    width: 0;
                }
                .style-two{
                    animation: load2 3s normal forwards;
                }
                .style-three{
                    animation: load3 3s normal forwards;
                }
                @keyframes load {
                    0% { width: 0; }
                    100% { width: 69%; }
                }
                @keyframes load2 {
                    0% { width: 0; }
                    100% { width: 80%; }
                }
            }
        }
    }

    .theme-btn {
        margin-top: 40px;
        background-color: $theme-color-3;
        color: $white;

        i {
            background-color: $white;
            color: $theme-color-3;
        }
    }
}

.choose-power-image-items-style-4 {
    margin-left: 60px;

     @include breakpoint (max-xxxl){
        margin-left: -40px;
    }

    @include breakpoint (max-xxl){
        margin-left: 0;

        img {
            @include imgw;
        }
    }
}

.choose-power-section-4 {
    position: relative;
    z-index: 9;

    &::before {
        width: 500px;
        height: 100%;
        content: "";
        background-color: $theme-color-3;
        position: absolute;
       top: 0;
        right: 0;
        z-index: -1;
        bottom: 0;

        @include breakpoint (max-xxxl){
           width: 400px;
        }

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .choose-shape-1 {
        position: absolute;
        z-index: -1;
        top: 16%;
        left: 51%;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .choose-shape-2 {
        position: absolute;
        top: 35%;
        left: 63%;
    }

    .choose-shape-3 {
        position: absolute;
        bottom: 17%;
        left: 60%;
    }
}


.choose-image-items-style-5 {
    margin-right: 50px;
    overflow: hidden;
    border-radius: 20px;

    img {
        @include imgw;
        border-radius: 20px;
    }

}

.choose-us-section-5 {
    margin-bottom: 40px;

    @include breakpoint (max-xxl){
        margin-bottom: 0;
    }
}

.choose-content-items-style-5 {
    .choose-text {
        margin-top: 25px;
    }

    .section-title {
        br {
           @include breakpoint (max-xl){
             display: none;
           }
        }
    }

    .choose-us-area {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

          @include breakpoint (max-xxl){
            flex-wrap: wrap;
            gap: 30px;
            justify-content: start;
        }

        .circle-box {
            width: 180px;
            height: 180px;
            line-height: 180px;
            border-radius: 50%;
            text-align: center;
            @include transition;
            background-color: transparent;
            position: relative;
            z-index: 9;
            margin-left: 40px;


            .text-image {
                img {
                    width: initial;
                    height: initial;
                    animation: cir36 10s 
                    linear infinite;
                }
            }

            h2 {
                background-color: $theme-color-4;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% ,-50%);
                width: 110px;
                height: 110px;
                line-height: 110px;
                text-align: center;
                border-radius: 50%;
                color: $white;
                @include transition;
                font-size: 42px;
                font-weight: 600;
                font-family: $heading-font-2;
                
            }
        }

        .choose-image {
            overflow: hidden;
            border-radius: 10px;

            img {
                @include imgw;
            }
        }
    }
}

.choose-bottom-items-area {
    @include flex;
    gap: 30px;
    margin-top: -165px;

    @include breakpoint (max-xxl){
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
    }

    .choose-items {
        display: flex;
        gap: 20px;

        h3 {
            width: 70px;
            height: 70px;
            line-height: 70px;
            background-color: $theme-color-4;
            color: $white;
            text-align: center;
            border-radius: 50%;
        }

        .content {
            h4 {
                font-size: 24px;
                font-weight: 600;
            }

            p {
                max-width: 202px;
                margin-top: 10px;
            }
        }
    }
}

.feature-box-items-style-6 {
    border-radius: 15px;
    background-color: rgba(121, 185, 0, 0.05);
    padding: 40px 35px;
    text-align: center;
    z-index: 19;
    position: relative;
    box-shadow: 0px 10px 40px rgba(29, 31, 21, 0.1);


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background: $theme-color-4;
        border-radius: 15px;
        z-index: -1;
        transition: height 0.5s ease;
    }

    .icon {
        width: 65px;
        height: 65px;
        line-height: 65px;
        text-align: center;
        background-color: $theme-color-4;
        border-radius: 50%;
        margin: 0 auto;
        @include transition;

        svg {
            @include transition;
            display: inline-block;
        }
    }

    .content {
        margin-top: 25px;

        h4 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 8px;
        }
    }

    &:hover {
        &::before {
            height: 100%;
        }

        .icon {
            background: $white;

            svg path {
                fill: $theme-color-4;
            }

            svg {
                transform: scaleX(-1) !important;
            }
        }

        .content {
            h4 {
                color: $white;
            }

            p {
                color: $white;
            }
        }
    }

    &.style-2 {
        background-color: $white;
        box-shadow: 0px 10px 40px rgba(29, 31, 21, 0.1);
    }
}

.feature-section-6 {
    &.style-2 {
        margin-top: -130px;
        position: relative;
        z-index: 99;
    }
}

.skill-left-image-style-7 {
    @include transition;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 25px;

    img {
        @include imgw;
        border-radius: 20px;
    }
}

.skill-right-items-style-7 {
    margin-left: 25px;

    @include breakpoint (max-xl){
        margin-left: 0;
    }

    .skill-text {
        margin-top: 25px;
    }

    .skill-progress-wrap {
        margin-top: 20px;

        .pro-items {
            width: 100%;

            &:not(:last-child){
                margin-bottom: 20px;
            }
            .pro-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                .title {
                    color: $header-color;
                    font-size: 20px;
                    font-family: $body-font;
                }
                
                .point {
                    font-size: 20px;
                    color: $header-color;
                     font-family: $body-font;
                }
            }
            .progress {
                background: rgba(121, 185, 0, 0.2);
                justify-content: flex-start;
                align-items: center;
                position: relative;
                display: flex;
                height: 6px;
                width: 100%;
            }
            
            .progress-value {
                animation: load 3s normal forwards;
                border-radius: 0;
                background: $theme-color-4;
                height: 6px;
                width: 0;
            }
            .style-two{
                animation: load2 3s normal forwards;
            }
            .style-three{
                animation: load3 3s normal forwards;
            }
            @keyframes load {
                0% { width: 0; }
                100% { width: 85%; }
            }
            @keyframes load2 {
                0% { width: 0; }
                100% { width: 65%; }
            }
            @keyframes load2 {
                0% { width: 0; }
                100% { width: 90%; }
            }
        }
    }

    .theme-btn {
        margin-top: 30px;
        background-color: $theme-color-4;
        border-radius: 5px;
        padding: 22px 40px;
        color: $white;
    }
}

.counter-box-area-7 {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    padding: 22px 30px;

    @include breakpoint (max-sm){
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        @include transition;

        @include breakpoint (max-sm){
            margin: 0 auto;
        }

        img {
            @include transition;
            display: inline-block;
        }
    }

    .content {
        h2 {
            color: $white;
            font-size: 36px;
            font-weight: 600;
            font-family: $heading-font-2;
        }

        p {
            font-size: 18px;
            font-weight: 700;
            color: $white;
        }
    }

    &:hover {
        .icon {
            img {
                transform: scaleX(-1) !important;
            }
        }
    }
}

.counter-section-7 {
    background-color: $theme-color-4;
    padding: 40px 0;
}

.work-process-box-items-style-6 {
    margin-top: 30px;

    .work-process-content {
        text-align: center;
        margin-top: 150px;

         @include breakpoint (max-lg){
           margin-top: 30px;
        }

        @include breakpoint (max-sm){
            max-width: 300px;
            margin: 0 auto;
        }

        h3 {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
        }

        .dot {
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            background-color: $theme-color-4;
            display: inline-block;
            margin-top: 42px;

             @include breakpoint (max-xl){
                display: none;
            }
        }
    }

    .thumb {
        text-align: center;
        img {
            margin-top: 30px;
        }

        .number {
            font-size: 70px;
            font-weight: 700;
            display: block;
            color: #CFCFCF;
            font-family: $heading-font-2;
            margin-top: 30px;
            text-align: center;
        }
    }

    &.style-2 {
        .work-process-content {
            margin-top: 10px;

            .dot {
                margin-top: 0;
                margin-bottom: 20px;
            }
        }

        .thumb {
            margin-bottom: 30px;

            img {
                margin-top: 0;
            }

            .number {
                margin-bottom: 40px;
                display: block;
            }
        }
    }
}

.work-process-wrapper-6 {
    position: relative;
    z-index: 9;

    &::before {
        content: "";
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 0%;
        border: 1px solid #1111111A;
        z-index: -1;
        transition: height 0.5s ease;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}

.work-process-section-6 {
    position: relative;
    z-index: 9;

    .left-shape {
        position: absolute;
        top: 20px;
        left: 0;
    }

    .right-shape {
        position: absolute;
        top: 20px;
        right: 0;
    }
}

.global-map-image {
    margin-top: 60px;
    position: relative;
    z-index: 9;

    img {
        @include imgw;
    }

    .location {
        &-indicator {
            width: 19px;
            height: 19px;
            background-color: $white;
            border-radius: 50%;
            position: absolute;
            cursor: pointer;
            z-index: 1;


            &.loc-1 {
                top: 38%;
                inset-inline-start: 17%;
            }
            &.loc-2 {
                top: 36%;
                inset-inline-start: 64%;
            }
            &.loc-3 {
                top: 73%;
                inset-inline-start: 30%;
            }
            &.loc-4 {
                top: 70%;
                inset-inline-start: 53%;
            }
            &.loc-5 {
                top: 50%;
                inset-inline-start: 46%;
            }
            &.loc-6 {
                top: 7%;
                inset-inline-start: 34%;
            }
            &.loc-7 {
                top: 22%;
                inset-inline-start: 11%;
            }
            &.loc-8 {
                top: 25%;
                inset-inline-start: 75%;
            }
            &.loc-9 {
                top: 77%;
                inset-inline-start: 82%;
            }
            &::after {
                content: "";
                background: rgba(255, 255, 255, 0.1);
                width: 100%;
                height: 100%;
                z-index: -2;
                position: absolute;
                top: 0;
                inset-inline-start: 0;
                border-radius: 50%;
                animation: pulse4 1.6s linear infinite;
            }
            &:hover {
                .location-tooltip {
                    opacity: 1;
                    visibility: visible;
                    margin-bottom: 42px;
                }
            }
        }

        &-tooltip {
            width: 310px;
            background-color: $white;
            box-shadow: 0 10px 40px 0 rgba(29, 31, 21, 0.10);
            padding: 10px 15px;
            border-radius: 10px;
            line-height: 1;
            font-family: $body-font;
            position: absolute;
            margin-bottom: 35px;
            inset-inline-start: 50%;
            bottom: 0;
            transform: translateX(-50%);
            cursor: default;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;

            @include breakpoint (max-sm){
               width: initial;
               max-width: 300px;
            }

            &::after {
                content: "";
                background: $white;
                width: 14px;
                height: 14px;
                z-index: -1;
                position: absolute;
                inset-inline-start: 50%;
                bottom: -7px;
                transform: translateX(-50%) rotate(45deg);
            }
            p {
                color: $header-color;
                margin-bottom: 5px;
                font-size: 18px;
                font-weight: 500;

                 @include breakpoint (max-sm){
                  font-size: 14px;
                }
            }
        }
    }
}

.global-map-section-7 {
    position: relative;
    z-index: 9;

    .right-shape {
        position: absolute;
        top: 100px;
        right: 0;
    }
}

.counter-section-4 {
    margin-top: -10px;
}