
//page scroll bar add
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $bg-color; 
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $theme-color;
	border-radius: 10px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 30px;
      height: 30px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(21, 57, 238, .6);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End


//pagination default

//pagination default


.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.brand-slide-element {
	width: auto;
	display: inline-block;
}

.container-2 {
  max-width: 1320px;
}


br {
  @include breakpoint (max-md){
    display: none;
  }
}


.text_invert > div {
  background-image: linear-gradient(to right, rgb(137, 137, 137) 50%, rgb(137, 137, 137) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.text_invert-2 > div {
  background-image: linear-gradient(to right, rgb(25, 42, 25) 50%, rgb(137, 137, 137) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.mt-15 {
  margin-top: 15px;
}

.page-nav-wrap {
  margin-top: 60px;

  ul {
      li {
          display: inline-block;

          &.active {

            .page-numbers {
              background-color: $theme-color-2;
              color: $white;
              border: 1px solid $theme-color-2;
            }
          }

          .page-numbers {
              &.current {
                  background-color: $theme-color-2;
                  color: $white;
              }

              display: inline-block;
              width: 48px;
              height: 48px;
              text-align: center;
              line-height: 48px;
              border-radius: 100px;
              border: 1px solid $theme-color-2;
              background: transparent;
              color: $header-color;
              font-weight: 600;
              font-size: 18px;
              transition: all 0.3s ease-in-out;
              margin: 0 5px;

              i {
                  margin-top: 2px;
              }

              &:hover {
                  background-color: $theme-color-2;
                  color: $white;
                  border: 1px solid $theme-color-2;
              }
          }
      }
  }
}