
//>>>>> Section Title Start <<<<<//

.section-title {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;

	@include breakpoint (max-md){
		margin-bottom: 0;
	}

	.sub-title {
		font-size: 14px;
		font-weight: 600;
		color: $theme-color-2;
		font-family: $body-font;
		margin-bottom: 15px;
		text-transform: capitalize;
		display: inline-block;

		&.color-2 {
			color: $theme-color-3;
		}

		&.color-3 {
			color: $theme-color-4;
			font-family: $heading-font-2;
			font-size: 24px;
			font-weight: 600;
		}
	}

	img {
		margin-right: 15px;
	}

	h2 {
		font-family: $heading-font;
	}
}

.section-title-2 {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;

	@include breakpoint (max-md){
		margin-bottom: 0;
	}
	
	h6 {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 15px;

		img {
			margin-right: 10px;
		}
	}
}


.section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;
	margin-bottom: 30px;

	.section-title-2 {
		margin-bottom: 0;
	}
	
	.section-title {
		margin-bottom: 0;
	}
	
	@include breakpoint (max-xl) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}

	@include breakpoint (max-md){
		margin-bottom: 0;
	}
}
//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color;
}

.section-bg-2 {
	background-color: $bg-color-2;
}

.section-bg-3 {
	background-color: $bg-color-3;
}

.section-bg-4 {
	background-color: rgba(121, 185, 0, 0.03);
}

.theme-bg {
	background-color: $theme-color;
}



.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}
//>>>>> Basic Css End <<<<<//

