.team-box-items-style-1 {
    margin-top: 30px;

    .thumb {
        position: relative;
        border-radius: 12px;
        overflow: hidden;

        img {
            @include imgw;
            border-radius: 12px;
            transition-delay: .1s;
            transition-timing-function: ease-in-out;
            transition-duration: .7s;
            transition-property: all;
        }
    }

    .content {
        background-color: $bg-color;
        margin-top: -15px;
        padding: 25px 35px;
        border-radius: 12px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xxxl){
            padding: 22px 25px;
        }

        h3 {
            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $theme-color-2;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color-2 0%, $theme-color-2 100%);
                }
            }
        }

        p {
            border-bottom: 1px solid rgba(25, 42, 25, 0.10);
            padding-bottom: 15px;
        }

        .bottom-items {
            margin-top: 25px;
            @include flex;
            justify-content: space-between;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

            .social-icon {
                gap: 15px;

                a {
                    font-size: 22px;

                    @include breakpoint (max-xxxl){
                       font-size: 16px;
                    }

                    &:hover {
                        color: $theme-color-2;
                    }
                }
            }

            .theme-btn {
                background-color: $white;
                color: $header-color;
                line-height: 1;

                @include breakpoint (max-xxxl){
                    padding: 7px 7px 7px 22px;
                    font-size: 15px;
                }

                &::before {
                    background-color: $theme-color;
                }

                i {
                    background-color: $theme-color;
                    color: $header-color;
                }

                &:hover {
                    i {
                        background-color: $header-color;
                        color: $white;
                    }
                }
            }
        }
    }

    &:hover {
        .thumb {
            img {
                transform: scale(1.1) rotate(2deg);
            }
        }
    }
}

.team-box-items-style-5 {
    margin-top: 30px;

    .team-thumb {
        position: relative;
        z-index: 9;
		overflow: hidden;
        border-radius: 20px;

        img {
            @include imgw;
            border-radius: 20px;
            transition-delay: .1s;
            transition-timing-function: ease-in-out;
            transition-duration: .7s;
            transition-property: all;
        }

        .team-icon {
            gap: 10px;
            position: absolute;
            top: 20px;
            right: 20px;

            li {
                transform: scaleX(0);
                transition: 0.4s ease-in-out;
                cursor: pointer;
               
                a {
                    background-color: $white;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    display: inline-block;
                    color: #111;
                    text-align: center;
                    @include transition;
                    border-radius: 50%;

                    &:hover {
                        background-color: $theme-color-4;
                        color: $white;
                    }
                }
            }
        }

        .team-content {
            position: absolute;
            z-index: 1;
            bottom: 30px;
            left: -150px;
            display: grid;
            @include transition;
            opacity: 0;
            visibility: hidden;

            p {
                font-size: 16px;
                font-weight: 700;
                font-family: $heading-font-2;
                background-color: #111;
                color: $white;
                padding: 13px 30px;
                display: inline-block;
                line-height: 1;
                max-width: 170px;
            }

            h4 {
                font-size: 20px;
                font-weight: 700;
                font-family: $heading-font-2;
                background-color: $theme-color-4;
                padding: 13px 30px;
                padding-right: 60px;
                display: inline-block;
                line-height: 1;
            
                a {
                    color: $white;
                }
            }
        }
    }

    &:hover {
        .team-thumb {
			img {
				transform: scale(1.1) rotate(2deg);
			}

            .team-icon {
                li {
                    transform: scaleX(1);
                }
            }
        }

        .team-content {
            opacity: 1;
            visibility: visible;
            left: 0;
        }
    }
}

.team-section-5 {
    position: relative;
    z-index: 9;

    .team-shape {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
    }
}

.team-box-items-style-7 {
    margin-top: 30px;

    .team-thumb {
        position: relative;
        z-index: 99;
        overflow: hidden;
         border-radius: 25px;

        .icon-shape {
            position: absolute;
            top: -2px;
            right: 0;
             @include transition;

        }

        .icon-shape2 {
            position: absolute;
            top: -2px;
            right: -5px;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            @include transition;
        }

        .social-profile {
            position: absolute;
            right: 5px;
            top: 0;
            content: "";
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            z-index: 2;
            display: inline-block;
            overflow: hidden;
            z-index: 9;

            ul {
                transform: translateY(-100px);
                transition: all 0.6s ease-in-out;
                opacity: 0;
                visibility: hidden;

                li {
                    margin-bottom: 5px;

                    a {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 500;
                        display: block;
                         background: rgba(121, 185, 0, 0.1);
                        color: $header-color;
                        -webkit-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
                        text-align: center;
                        margin: 0 auto;
                        border-radius: 50%;

                        &:hover {
                            background: $theme-color-4;
                            color: $white;
                        }
                    }
                }
            }

            .plus-btn {
                z-index: 9;
                cursor: pointer;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                display: inline-block;
                background: rgba(121, 185, 0, 0.1);
                color: $header-color;
                @include transition;
                border-radius: 50%;
                margin-bottom: 5px;
            }
        }

        &::before {
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "";
            background: linear-gradient(180deg, rgba(121, 185, 0, 0.00) 0%, #79B900 100%);
            position: absolute;
            opacity: 0;
            visibility: hidden;
            @include transition;
            border-radius: 25px;
            z-index: 1;
        }

        img {
            @include imgw;
            border-radius: 25px;
              border-radius: 20px;
            transition-delay: 0.1s;
            transition-timing-function: ease-in-out;
            transition-duration: 0.7s;
            transition-property: all;
        }

        .content {
            text-align: center;
            position: absolute;
            bottom: 20px;
            left: 20px; 
            right: 20px;
            z-index: 1;
            @include transition;
            opacity: 0;
            visibility: hidden;

            p {
                color: $white;
            }

            h4 {
                font-size: 22px;
                font-weight: 700;
                
                a {
                    color: $white;
                }
            }
        }

        &:hover {
            .icon-shape {
                opacity: 0;
                visibility: hidden;

                img {
                    transform: initial;
                }
            }

            .social-profile {
                ul {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }

                .plus-btn {
                    background: $theme-color-4;
                    color: $white;
                }
            }

            .icon-shape2 {
                opacity: 1;
                visibility: visible;

                img {
                     transform: initial;
                }
            }

            &::before {
                opacity: 1;
                visibility: visible;
            }

            .content {
                opacity: 1;
                visibility: visible;
            }


            img {
                transform: scale(1.1) rotate(2deg);
            }
        }

    }
}

.team-section {
    .team-slider {
        margin: 0 -2%;

        @include breakpoint (max-md){
            margin: 0 0;
        }
    }

     .swiper-dot {
        text-align: center;
        margin: 50px auto 0;
        position: relative;
        z-index: 9;

        .swiper-pagination-bullet {
            background-color: $theme-color-2;
            width: 9px;
            height: 9px;
            opacity: 1;

            &:not(:last-child){
                margin-right: 7px;
            }
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $theme-color-2;
             transition: 0.6s;
            position: relative;

            &::before{
                position: absolute;
                width: 18px;
                height: 18px;
                line-height: 18px;
                top: 50%;
                left: 56%;
                transform: translate(-52%, -48%);
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid $theme-color-2;
                content: "";
            }
        }
    }
}

.team-left-image {
    margin-right: 60px;

    img {
        @include imgw;
        border-radius: 12px;
    }
}

.team-details-content {
    .top-text {
        font-size: 13px;
        font-weight: 600;
        color: $theme-color-2;
    }

    h2 {
        font-size: 46px;
        font-weight: 700;
        margin-top: 10px;
    }

    .team-text {
        margin-top: 10px;
    }

    .progress-wrap {
        margin-top: 20px;

        .pro-items {
            width: 100%;

            &:not(:last-child){
                margin-bottom: 30px;
            }

            .pro-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                .title {
                    color: $header-color;
                }
                
                .point {
                    font-size: 16px;
                    color: $header-color;
                }
            }
            .progress {
                background: rgba(0, 93, 181, 0.1);
                justify-content: flex-start;
                align-items: center;
                position: relative;
                display: flex;
                height: 6px;
                border-radius: 6px;
                width: 100%;
            }
            
            .progress-value {
                animation: load 3s normal forwards;
                border-radius: 6px;
                background: $theme-color-2;
                height: 6px;
                width: 0;
            }
            .style-two{
                animation: load2 3s normal forwards;
            }
            .style-three{
                animation: load3 3s normal forwards;
            }
            @keyframes load {
                0% { width: 0; }
                100% { width: 75%; }
            }
            @keyframes load2 {
                0% { width: 0; }
                100% { width: 80%; }
            }
        }
    }

    ul {
        margin-top: 30px;

        li {
            display: flex;
            align-items: center;
            gap: 20px;

            .icon {
                font-size: 18px;
                color: $theme-color-2;
            }

            p {
                color: #616766;
                font-size: 16px;
                font-weight: 500;

                a {
                    color: #616766;
                }
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
        margin-top: 80px;
    }

    h4 {
        font-size: 24px;
        font-weight: 500;
        margin-top: 50px;
    }

    .list-items {
        @include flex;
        gap: 80px;

        ul {
            li {
                font-size: 18px;
                font-weight: 500;

                &:not(:last-child) {
						margin-bottom: 20px;
					}

                img {
                    margin-right: 5px;
                }
            }
        }
    }
}

.team-section-inner {
    margin: 0 150px;
}