.testimonial-box-items-style-1 {
    margin-top: 30px;
    border-right: 1px solid rgba(25, 42, 25, 0.12);
    padding-right: 50px;

    @include breakpoint (max-lg){
        padding-right: 22px;
    }

    @include breakpoint (max-md){
        padding-right: 16px;
    }

     @include breakpoint (max-sm){
        padding-right: 10px;
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
    }

    .star {
        color: #FF8000;
        margin-top: 30px;

        i {
            margin-left: 5px;
        }
    }

    .testi-text {
        margin-top: 15px;
        max-width: 332px;
    }

    .client-info {
        @include flex;
        gap: 20px;
        margin-top: 20px;

        .client-content {
            h5 {
                font-weight: 600;
            }
        }
    }
}

.testimonial-section {
     .swiper-dot {
        text-align: center;
        margin: 50px auto 0;
        position: relative;
        z-index: 9;

        .swiper-pagination-bullet {
            background-color: $theme-color-2;
            width: 9px;
            height: 9px;
            opacity: 1;

            &:not(:last-child){
                margin-right: 7px;
            }
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $theme-color-2;
             transition: 0.6s;
            position: relative;

            &::before{
                position: absolute;
                width: 18px;
                height: 18px;
                line-height: 18px;
                top: 49%;
                left: 56%;
                transform: translate(-52%, -48%);
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid $theme-color-2;
                content: "";
            }
        }
    }
}

.testimonial-box-items-style-2 {
    margin-top: 30px;

    .client-info {
        border-radius: 12px;
        background-color: $bg-color-2;
        @include flex;
        gap: 20px;
        padding: 12px 18px;

        .client-content {
            h5 {
                font-weight: 600;
            }
        }
    }

    .testimonial-content {
        border-radius: 12px;
        background-color: $bg-color-2;
        padding: 30px;
        margin-top: 10px;

        .star {
            color: #FF8000;
        }

        .testi-text {
            color: #5C5C5C;
            margin-top: 10px;

        }

        h5 {
            font-family: $body-font;
            font-size: 14px;
            font-weight: 500;
            margin-top: 140px;
            color: #717171;

            @include breakpoint (max-xl){
                margin-top: 20px;
            }
        }
    }
}

.testimonial-section-2 {
    border-radius: 115px 115px 0 0;
    background: $white;
    margin:  0 15px;

    @include breakpoint (max-xl){
        border-radius: 20px;
    }
}

.testimonial-section-3 {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        z-index: -1;
        background: rgba(25, 42, 25, 0.95);
    }

    &::after {
        @include before;
        background: $white;
        top: 93%;
        z-index: -1;
    }

    &.style-2 {
         @include breakpoint (max-xl){
                padding-bottom: 100px !important;
            }

            @include breakpoint (max-lg){
                padding-bottom: 80px !important;
            }
        &::after {
            background: $bg-color-3;

            @include breakpoint (max-xl){
                display: none;
            }
        }
    }

    .testi-shape-1 {
        position: absolute;
        top: 4px;
        right: 4px;

        @include breakpoint (max-xxl){
            display: none;
        }
    }
}

.testimonial-text {
    h2 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $white;
        font-size: 166px;
        font-weight: 800;
        line-height: 1;
        letter-spacing: -8.3px;
        color: transparent;
        text-align: center;
        margin-bottom: 100px;

        @include breakpoint (max-xxl){
            font-size: 120px;
        }

        @include breakpoint (max-xl){
            letter-spacing: initial;
            margin-bottom: 30px;
            font-size: 110px;
        }

        @include breakpoint (max-lg){
            font-size: 82px;
        }

        @include breakpoint (max-md){
            font-size: 68px;
        }

         @include breakpoint (max-sm){
            font-size: 53px;
        }

         @include breakpoint (max-xxs){
            font-size: 42px;
        }

        &.style-2 {
            -webkit-text-stroke-width: initial;
            -webkit-text-stroke-color: initial;
            color: #EBFA9E;
        }
    }
}

.testimonial-section-3 {
    padding-left: 100px !important;
    padding-right: 100px !important;

    @include breakpoint (max-xxxl){
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

     @include breakpoint (max-xxl){
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

     @include breakpoint (max-xl){
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .testimonial-slider-3 {
        position: relative;
        max-width: 915px;
        margin-left: initial;

        @include breakpoint (max-xxxl){
            max-width: 710px;
        }
    }

    .array-button {
        border: 1px solid rgba(255, 255, 255, 0.22);
        border-radius: 20px;
        width: 160px;
        @include flex;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 99;

        @include breakpoint (max-lg){
          position: static;
          margin-top: 30px;
        }
       
        .array-prev,.array-next {
            width: 80px;
            height: 70px;
            line-height: 70px;
            color: $white;
            @include transition;
            
        }

        .array-prev {
            border-right: 1px solid rgba(255, 255, 255, 0.22);

            &:hover {
                background-color: $theme-color-3;
                border-radius: 20px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .array-next {
            &:hover {
                background-color: $theme-color-3;
                border-radius: 20px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.testimonial-left-image-items-style-3 {
    border-radius: 10px;
    
    img {
        @include imgw;
        border-radius: 10px;
    }
}

.testimonial-right-content-items-style-3 {
    margin-left: 60px;

    @include breakpoint (max-xxl){
        margin-left: 0;
    }

    .star {
        color: #FF8000;
    }

    h3 {
        font-size: 46px;
        font-weight: 600;
        color: $white;
        line-height: 130%;
        letter-spacing: -1.38px;
        max-width: 900px;
        margin-top: 20px;

        @include breakpoint (max-xl4){
           font-size: 36px;
        }

        @include breakpoint (max-xxxl){
           font-size: 34px;
        }

        @include breakpoint (max-xl){
            font-size: 32px;
            line-height: 140%;
        }

        @include breakpoint (max-lg){
            font-size: 24px;
        }

         @include breakpoint (max-md){
            font-size: 26px;
            line-height: 150%;
        }

         @include breakpoint (max-sm){
           font-size: 21px;
           line-height: 145%;
        }
    }

    .client-info {
        @include flex;
        gap: 20px;
        margin-top: 90px;

        @include breakpoint (max-xl4){
            margin-top: 60px;
        }

        @include breakpoint (max-lg){
            margin-top: 50px;
        }

        @include breakpoint (max-md){
            margin-top: 40px;
        }

         @include breakpoint (max-sm){
            margin-top: 30px;
        }

        .client-content {
            h5 {
                font-weight: 600;
                color: $white;
            }

            p {
                color: rgba(255, 255, 255, 0.77);
            }
        }
    }
}

.testimonial-box-items-5 {
    background-color: $white;
    box-shadow: (0 10px 40px rgba(29, 31, 21, 0.10));
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 30px;

    .star {
        color: #FF9D00;
        
        i {
            margin-right: 10px;
        }
    }

    .testi-text {
        margin-top: 20px;
        max-width: 366px;
    }

    .client-info-area {
        @include flex;
        justify-content: space-between;
        margin-top: 20px;
        @include transition;

        .client-info {
            @include flex;
            gap: 20px;
            @include transition;

            .client-content {
                h4 {
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    @include transition;
                }
            }
        }

        .quote-icon {
            img {
                opacity: 0.4;
                @include transition;
            }
        }
    }

    &:hover {
        .client-info-area {
            .client-info {
                .client-content {
                    h4 {
                        color: $theme-color-4;
                    }
                }
            }

            .quote-icon {
                img {
                    opacity: 1;
                }
            }
        }
    }
}

.testimonial-section-5 {
    position: relative;
    z-index: 9;

    .testimonial-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        @include breakpoint (max-xl4){
            max-width: 800px;
        }

         @include breakpoint (max-xxxl){
            max-width: 700px;
        }

         @include breakpoint (max-xxl){
            max-width: 600px;
        }

        @include breakpoint (max-xl){
            display: none;
        }

        img {
            height: 100%;
        }
    }

    .array-button {
        @include flex;
        gap: 12px;
        
        .array-next,.array-prev {
            @include transition;
            width: 80px;
            height: 47px;
            line-height: 47px;
            border-radius: 23.5px;
            border: 1px solid $white;
            color: $white;

            @include breakpoint (max-xl){
                color: $header-color;
                border: 1px solid $header-color;
            }

            &:hover {
                background-color: $theme-color-4;
                color: $white;
                border: 1px solid $theme-color-4;
            }
        }
    }
}

.testimonial-box-items-style-6 {
    border-radius: 30px;
    background: $white;
    box-shadow: 0 10px 40px 0 rgba(29, 31, 21, 0.10);
    padding: 50px 30px;
    margin-top: 30px;

    .client-info {
        @include flex;
        gap: 20px;
        margin-top: 0;
        position: relative;

        .quote-icon {
            position: absolute;
            bottom: -11%;
            left: 3%;

        }

        .client-content {
            h5 {
                font-weight: 600;
                font-size: 24px;
                font-family: $heading-font-2;
            }
        }
    }

    .testi-text {
        font-size: 18px;
        font-style: italic;
        font-weight: 500;
        color: $text-color;
        line-height: 145%;
        max-width: 585px;
        margin-top: 30px;
        font-family: $body-font;
    }

    .ratting-area {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        h4 {
            font-family: $heading-font-2;
            font-size: 20px;
            font-weight: 700;
        }

        .star {
            color: #FEC51B;
        }
    }
}

.testimonial-section-6 {
    .testimonial-slider-6 {
        overflow: initial;
    }

    .pagi-btn {
        background-color: $theme-color-4;
        max-width: 150px;
        border-radius: 25px;
        margin: 50px auto 0;
        @include flex;
        padding: 3px 15px;

        .array-next,.array-prev {
            color: $white;
        }
    }

    .swiper-dot {
        text-align: center;
        margin: 0 auto;
        position: relative;
        z-index: 9;

        .swiper-pagination-bullet {
            background-color: $white;
            width: 9px;
            height: 9px;
            opacity: 1;

            &:not(:last-child){
                margin-right: 7px;
            }
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $white;
             transition: 0.6s;
            position: relative;

            &::before{
                position: absolute;
                width: 18px;
                height: 18px;
                line-height: 18px;
                top: 50%;
                left: 56%;
                transform: translate(-52%, -48%);
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid $white;
                content: "";
            }
        }
    }
}

.testimonial-section-7 {
    .swiper {
        overflow: initial;
    }
}